﻿@model WebApplication1.Models.BidFormViewModel
@{
    ViewData["Title"] = "BidForm";
}

<hr />
<div>
    <h2>Bid</h2>
    <p><b>Product Name:</b> @Html.DisplayFor(model => model.Item.ProductName)</p>
    
    @*<table class="table">
        <thead>
            <tr>
                <th>
                    Product Name
                </th>
                <th>
                    Product Descriptioin
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Item.ProductDescription)
                </td>
            </tr>
        </tbody>
    </table>*@
</div>
@using (Html.BeginForm("AddBid", "Bid"))
{
<div class="form-horizontal">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Item.ProductId)
    @Html.HiddenFor(model => model.Item.BiddingEndDate)
    @Html.HiddenFor(model => model.Item.ProductName)
    @Html.HiddenFor(model => model.Item.ProductDescription)
    <div class="form-group">
        @Html.LabelFor(model => model.Firstname, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Firstname)
            @Html.ValidationMessageFor(model => model.Firstname)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Lastname, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Lastname)
            @Html.ValidationMessageFor(model => model.Lastname)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
</div>
}