﻿<hr />
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Categories
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        @foreach (string category in ViewBag.Categories)
        {
            <li><a href="@Url.Action("Index", "Item", new { category = category })"> @category</a></li>
        }
        <li><a href="@Url.Action("Index", "Item")"> Reset</a></li>
    </ul>
</div>