﻿@model IEnumerable<WebApplication1.Models.ItemViewModel>

@Html.Partial("Menu")

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                Expires in
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td class="countdown">
                    @Html.DisplayFor(modelItem => item.BiddingEndDate)
                </td>
                <td class="bidButton">
                    @Html.ActionLink("Bid", "BidForm", "Bid", item)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    // Set the date we're counting down to
    var elements = document.getElementsByClassName("countdown");
    var countDownDate = [];

    for (var i = 0; i < elements.length; i++) {
        countDownDate.push(new Date(elements[i].textContent).getTime());
    }

    console.log(countDownDate);
        //new Date(document.getElementsByClassName("countdown").textContent)
    //    new Date("Aug 17, 2018 13:16:25").getTime();
  // console.log(countDownDate.toString());
    // Update the count down every 1 second
    var x = setInterval(function () {

       
        var now = new Date().getTime();

        for (var i = 0; i < countDownDate.length; i++) {

            var distance = countDownDate[i] - now;
            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            // Output the result in an element with id="demo"
            document.getElementsByClassName("countdown")[i].innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            // If the count down is over, write some text
            if (distance < 0) {
                document.getElementsByClassName("countdown")[i].innerHTML = "EXPIRED";
                location.reload();
                document.getElementsByClassName("bidButton")[i].style.display = "none";
            }
        }
    }, 1000);
</script>
